.ProductPreview{
    width: 50%;
    position: relative;
}

.ProductPreview > img{
    width: 100%;
}
.TimeSection, .HeartBeatSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.HeartBeatSection > i{
    margin-top: 35px;
    color: red;
    animation:  beat 1s infinite;
}

.HeartBeatSection > p {
    margin-top: 10px;
}

@keyframes beat {
    0%{
      transform: scale(1,1);
    }
    50%{
      transform: scale(1.2,1.2);
    }
    100%{
      transform: scale(1,1);
    }
    
}